* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#playerInfoHUD {
  display: flex;
  /* justify-content: space-evenly; */
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 150px;
  background: purple;
  opacity: 0.75;
  font-weight: bolder;
  font-size: small;
  color: yellowgreen;
  z-index: 9999;
}

#infoContainer {
  padding: 10px;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
